<!DOCTYPE html>
<html ng-app="mainApp">
  <head>
    <meta charset="UTF-8">
    <title>Discord Bot Client</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <div ng-controller="MainController as main">
      <div ng-model="servers" class="server-list">
        <h3>Servers</h3>
        <div class="listContainer">
        <ul>
          <li ng-repeat="(id, server) in servers" ng-click="activateServer(server.id)">
            <span data-id="{{server.id}}">
              {{server.name}}
            </span>
          </li>
        </ul>
        </div>
      </div>
      <div class="server" ng-show="activeServer">
        <div ng-model="activeServer.channels" class="channel-list">
          <h3>Channels</h3>
          <div class="listContainer">
          <ul>
            <li ng-repeat="(id, channel) in activeServer.channels" ng-click="activateChannel(channel)">
              <span data-id="{{channel.id}}">
                #{{channel.name}}
              </span>
            </li>
          </ul>
          </div>
        </div>
        <div class="channel" ng-show="activeChannel">
          <h4>#{{activeChannel.name}}</h4>
          <div class="messages" scroll-glue>
            <div class="message" ng-repeat="message in messages[activeChannel.id]">
              <span class="timestamp">
                {{message.timestamp}}
              </span>
              <span class="author" data-id="{{message.author.id}}" ng-style="{color: message.author.color}">
                {{message.author.username}}#{{message.author.discriminator}}
              </span>
              <span class="content" ng-bind-html="message.cleanContent"></span>
            </div>
          </div>
          <div class="send-wrapper">
            <input class="send-message" ng-model="message" type="text" ng-keyup="keyup($event)" />
          </div>
        </div>
      </div>
    </div>
    
    <script>window.$ = window.jQuery = require('./js/jquery.min.js');</script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-sanitize.js"></script>
    <script src="js/scrollglue.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
